.App {
  color: var(--color-dark-grey);
  font-size: 13px;
  --color-black: #000000;
  --color-grey: #888888;
  --color-dark-grey: #444444;
  --color-light-grey: #cccccc;
  --color-maximum-blue-green: #75b9be;
  --color-opal: #a8ccc9;
  --color-cambridge-blue: #b3d6c6;
  --color-pale-spring-bud: #dceab2;
  --color-june-bud: #c7d66d;
  --color-green-ok: #3d8f58;
}

.Link {
  color: var(--color-maximum-blue-green);
  text-decoration: none;
}

.Link:hover {
  color: var(--color-opal);
}
