.App {
  color: var(--grey-warm);
  font-size: 13px;
  --black: #000000;
  --grey-middle: #808080;
  --grey-very-light: #cccccc;
  --grey-warm: #3b4045;
  --orange-dark: #f56a00;
  --orange-light: #ff8b33;
}

.Link {
  color: var(--orange-light);
  text-decoration: none;
}

.Link:hover {
  color: var(--orange-dark);
}
