.PostSummary {
  border-bottom: 1px solid var(--grey-very-light);
  display: flex;
  padding: 16px;
}

.PostSummary-Stats {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: 5px;
  margin-right: 16px;
}

.PostSummary-Stats-Item {
  color: var(--grey-middle);
}

.PostSummary-Stats-Item--emphasized {
  color: var(--black);
}

.PostSummary-Content-Title {
  margin-bottom: 5px;
  margin-top: 0;
}

.PostSummary-Content-Excerpt {
  display: -webkit-box;
  overflow: hidden;
  overflow-wrap: break-word;
  word-break: break-word;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
