.PostSummaryList {
  max-width: 800px;
}

.PostSummary {
  border-bottom: 1px solid var(--color-cambridge-blue);
  display: flex;
  padding: 16px;
  width: auto;
}

.PostSummary:last-child {
  border-bottom-width: 0;
}

.PostSummary-Stats {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-wrap: wrap;
  gap: 7px;
  margin-bottom: 5px;
  margin-right: 16px;
  width: 100px;
}

.PostSummary-Stats-Item {
  align-items: center;
  color: var(--color-grey);
  display: inline-flex;
  gap: 2px;
  line-height: 16px;
}

.PostSummary-Stats-Item--emphasized {
  color: var(--color-black);
}

.PostSummary-Stats-Item--hasAnswers {
  border: 1px solid var(--color-green-ok);
  border-radius: 3px;
  color: var(--color-green-ok);
  padding: 2px 4px;
}

.PostSummary-Stats-Item--hasAcceptedAnswer {
  background-color: var(--color-green-ok);
  color: white;
}

.PostSummary-Content {
  flex-grow: 1;
}

.PostSummary-Content-Title {
  margin-bottom: 5px;
  margin-top: -2px;
}

.PostSummary-Content-Excerpt {
  display: -webkit-box;
  hyphens: auto;
  margin-bottom: 8px;
  overflow: hidden;
  overflow-wrap: break-word;
  word-break: break-word;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.PostSummary-Meta {
  align-items: center;
  column-gap: 8px;
  display: flex;
  flex-wrap: wrap;
  font-size: var(--font-size-lower);
  justify-content: space-between;
  row-gap: 8px;
}

.PostSummary-Meta-Tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.PostSummary-Meta-Tags-Tag {
  background-color: var(--color-pale-spring-bud);
  border-radius: 3px;
  color: var(--color-grey);
  display: inline-block;
  padding: 4px 6px;
  text-decoration: none;
  white-space: nowrap;
}

.PostSummary-Meta-Tags-Tag:hover {
  background-color: var(--color-june-bud);
  color: var(--color-dark-grey);
}

.PostSummary-Meta-AdditionalInformation {
  display: flex;
}

.PostSummary-Meta-AdditionalInformation-UserInfo {
  display: flex;
}

@media (max-width: 800px) {
  .PostSummary {
    flex-direction: column;
  }

  .PostSummary-Stats {
    align-items: center;
    flex-direction: row;
    width: 100%;
  }
}
